<% if current_user%>

    <% pledge = @project.pledges.find_by(backer_id: current_user) %>
      <% if pledge %>
      <%= controller.redirect_to edit_project_pledge_path(@project, pledge), notice: "You have already backed this project...please update your pledge!" %>
    <% else %>

      <h1>Create a New Pledge for <%= @project.name %></h1>

      <%= form_for [@project, @pledge] do |f| %>

      <div class="field">
        <%= f.label :amount %>
        <%= f.number_field :amount %>
      </div>

      <div class="action">
        <%= f.submit "Submit your pledge" %>
      </div>

      <% end %>

    <% end %>

  <% else %>
    <%= controller.redirect_to login_path, notice: "Please register/login before pledging support for a project." %>

  <% end %>
