<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <% owned_projects = Project.where(owner: current_user).ids %>
  <% if owned_projects  %>
  <strong>You have <%= owned_projects.count %> projects, totalling $
  <%= Pledge.where(project_id: owned_projects).sum(:amount) %> in pledges.</strong>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
