<%= form_for [@project, @pledge] do |f| %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount, value: @pledge.amount %>
    <%= "   " %>
    <%= link_to "Delete This Pledge", [@project, @pledge], method: :delete, data: {confirm: "Are you sure you want to delete this pledge?"} %>
  </div>

  <div class="action">
    <%= f.submit "Submit your pledge" %>
  </div>

<% end %>
