<p><b>
  To date: <%= @pledges.count %> backers,
  $<%= @pledges.all.sum(:amount) %> raised,
  and <%= @projects.select { |project| project.fully_funded? }.count %>
  projects fully funded
</b></p>

<% if current_user %>
  <%= link_to "Add a Project", new_project_path %>
<% else %>
    <p>Please login to add a project</p>
<% end %>

<%= form_tag root_path, method: :get, remote: true, id: 'proj-search-form' do %>
  <%= text_field_tag :proj_search, params[:proj_search] %>
  <%= submit_tag "Search" %>
<% end %>

<div class="show-projects">
  <% if @projects.any? %>
    <h4>All Projects</h4>
    <div id="project-list">
      <%= render @projects %>
    </div>
  <% else %>
    <p>No Projects yet!</p>
  <% end %>
</div>
