<h1>Create a New Project</h1>

<%= form_for @project do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_field :end_date %>
  </div>

  <div class="field">
    <%= f.label :funding_goal %>
    <%= f.number_field :funding_goal %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <h3>Rewards</h3>
    <%= f.fields_for :rewards do |rewards_form| %>
      <%= render "reward_fields", f: rewards_form %>

      <div class="link">
        <%= link_to_add_association "Add another reward", f, :rewards %>
      </div>

    <% end %>

  <div class="action">
    <%= f.submit "Create New Project" %>
  </div>

<% end %>
