<h1><%= @project.name %></h1>

<p><b>There are <%= @project.days_remaining %> days left before this project expires</b></p>


<ul>
  <li>Funding Goal: $<%= @project.funding_goal %></li>
  <li>End Date: <%= @project.end_date.strftime("%A, %d %b %Y %l:%M %p") %></li>
  <li>Project Owner: <%= @project.owner.first_name + " " + @project.owner.last_name %></li>
  <li>About the project:
    <p><%= @project.description %></p>
  </li>
</ul>

<% if @project.tags != nil %>
  <div class="list-tags">
    <%= render @tags %>
  </div>
<% end %>

<% if @project.owner == current_user %>
  <div class="add-tags">
    <%= render 'add_tag_form' %>
  </div>
<% end %>

<div class="rewards">
  <h3>Rewards!</h3>
  <% @project.rewards.each do |reward| %>
  <p>
    Amount: $<%= reward.price %><br>
    Reward Tier: <%= reward.name %><br>
    Number Available: <%= reward.number_available%><br>
    Description: <%= reward.description %><br>
  </p>
  <% end %>
</div>

<div>

  <h3>Total pledges for this project: $<%= @project.pledges.all.sum(:amount) %>.00</h3>

  <% pledge = @project.pledges.find_by(backer_id: current_user) %>
  <% if current_user && pledge %>
  <h4>You have pledged $<%= pledge.amount %> to this project! <%= link_to "Update your pledge", new_project_pledge_path(@project) %></h4>
  <% else%>
    <%= link_to "Pledge to this project", new_project_pledge_path(@project) %>
  <% end %>

</div>

<div>
  <% if @project.owner == current_user %>
  <%= render "pledges/index" %>
  <br>
  <%= link_to "Edit or Delete this project", edit_project_path %>
  <% end %>
</div>

<div>
  <%= render "comments/form" %>
</div>

<div id="comments_list">
  <%= render "comments" %>
</div>


